{% extends 'layout.html' %}
{% block title %} Aljazeera News {% endblock %}
{% block body%}

<!--template start-->
	<div class="container main-news section mt-4">
        {% for news, des, img, author, time, url in context %}
		<div class="row">
			<div class="row mb-3 bb-1 pt-0">
				<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
					<img class="thumb" src="{{img}}" alt="Image can't be loaded">
				</div>
				<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
					<h5>
						<a href="{{url}}">
							{{news}}
						</a>
					</h5>
					<small class="date">{{time}}</small>
					<p class="summary pt-3">{{des}}</p>
					<small>From {{author}}</small>
				</div>
			</div>
		</div>
		<hr>
        {% endfor %}
	</div>
<!--	end of template  -->
{% endblock %}





